.colored{
    background-color: red;
	color: white;
}

.colorgreen{
	background-color: green;
	color: white;
}

ul {
	padding: 30px;
	border: 1px solid red;
}
li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
}

#div1, #ul1, #li1 {
	padding: 20px;
}

#div1 {
	border: 1px solid red;
}
#ul1 {
	border: 1px solid orange;
}
#li1 {
	border: 1px solid green;
}

#block:not(.active) {
	display: none;
    width: 200px;
}

#table3, table{
	border: 1px solid red;
}
td{
	width: 30px;
	height: 30px;
	border: 1px solid black;
}
.cross_out{
    text-decoration: line-through red;
}
.bgrdgreen{
    background-color: green;
    color: white;
}
.hidden {
	display: none;
}
.active {
	background: red;
}
.color1 {
	background: red;
}
.color2 {
	background: green;
}
.color3 {
	background: yellow;
}